html{
  min-height: 100%;
  height:300%;
}

body{
  padding-top:50px;
  min-height: 100%;
  height: 100%;
}

.noleftpadding{
  padding-left:0;
}

ul{
  list-style: none;
  padding:0;
  margin:0;
}

li{
  list-style-type: none;
  padding:0;
  margin:0;
}
